@model Project2.Models.Band

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Band</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BandName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BandName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateFormed)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateFormed)
        </dd>
    </dl>

    <h5>Albums</h5>
    <hr />
    <ul>
        @foreach (var album in Model.ListOfAlbums)
        {
            <li><a class="link-info" style="text-decoration: none" href='/Albums/Details?id= @Html.DisplayFor(modelItem => album.AlbumID)'>@Html.DisplayFor(modelItem => album.AlbumTitle)</a></li>
        }
    </ul>

</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.BandID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
